<!doctype html>
<html>
  <body>
    <h1>To-Do</h1>
    <form action="/submittodoitem" method="post">
      <label>Item Name</label><br>
      <input name="itemName" required><br><br>

      <label>Item Description</label><br>
      <textarea name="itemDescription" required></textarea><br><br>

      <label>Item ID</label><br>
      <input name="itemId" required><br><br>
      <br><label>Item UUID</label><br>
      <input name="itemUUID" required>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>